<form [formGroup]="form" (submit)="save()">
  <div class="modal-header">
    <h5 class="modal-title">{{ model ? 'Edit' : 'Add' }} Category</h5>
    <button class="btn btn-close float-end" type="button" (click)="close()">
      <span class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column gap-3">
    <app-form-field label="Name" name="category-name" formControlName="name"></app-form-field>
    <app-form-field label="Description" name="category-description" formControlName="description"></app-form-field>
    <ng-template #iconTemplate let-item="item">
      <i class="{{ item.icon }} me-2"></i>
      <span>{{ item.icon }}</span>
    </ng-template>
    <app-form-field
      label="Icon"
      name="category-icon"
      formControlName="icon"
      [appAutocomplete]="icons"
      [filterKeys]="['title', 'tags', 'categories', 'icon']"
      [itemTemplate]="iconTemplate"
      [icon]="isValidIcon(form.value.icon) ? getNormalisedIcon() : ''"
    ></app-form-field>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger me-auto" type="button" (click)="delete()" *ngIf="model">
      <i class="bi-trash"></i>
      Delete
    </button>
    <button class="btn btn-default" type="button" (click)="close()">Cancel</button>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>
