<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row mb-4">
        <h1>Dashboard</h1>
      </div>
      <div class="row mb-3">
        <h3>Shortcuts</h3>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 mb-3 mb-lg-0">
          <h5 class="text-black-50 text-center text-lg-start">Draper Ecosystem</h5>
          <div class="row d-flex flex-row justify-content-center justify-content-lg-start gap-3">
            <a
              class="card shadow-sm shortcut d-flex flex-column justify-content-center align-items-center gap-2 text-black text-decoration-none"
              [href]="shortcut.url"
              target="_blank"
              *ngFor="let shortcut of ecosystemShortcuts"
            >
              <div class="img-container d-flex justify-content-center align-items-center">
                <img
                  [src]="shortcut.icon"
                  [alt]="shortcut.alt"
                  class="img-fluid"
                />
              </div>
              <span>{{ shortcut.name }}</span>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-lg-end">
          <div class="d-flex flex-column align-items-stretch">
            <h5 class="text-black-50 text-center text-lg-start">Media System</h5>
            <div class="row d-flex flex-row justify-content-center flex-wrap gap-3">
              <a
              class="card shadow-sm shortcut d-flex flex-column justify-content-center align-items-center gap-2 text-black text-decoration-none"
              [href]="shortcut.url"
              target="_blank"
              *ngFor="let shortcut of mediaShortcuts"
            >
              <div class="img-container d-flex justify-content-center align-items-center">
                <img
                  [src]="shortcut.icon"
                  [alt]="shortcut.alt"
                  class="img-fluid"
                />
              </div>
              <span>{{ shortcut.name }}</span>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
