<form [formGroup]="form" (submit)="save()">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <span *ngIf="model; else noBudget">Edit Budget</span>
      <ng-template #noBudget>
        <span>Add Budget</span>
      </ng-template>
    </h4>
    <button type="button" class="btn-close btn btn-sm close pull-end" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex flex-column gap-3">
    <app-form-field label="Budget Name" formControlName="name" name="budget-name" autocomplete="none" appAutofocus></app-form-field>
    <app-form-field
      label="Budget Dates"
      formControlName="date"
      name="budget-date"
      autocomplete="off"
      icon="calendar"
      [dateRangePicker]="true"
    ></app-form-field>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
  </div>
</form>
