@import 'bootstrap/scss/functions';

// Colours
$body-bg: #eee;
$primary: #4db6ac;
$secondary: #ff4081;
$success: #4caf50;
$warning: #ffc107;
$danger: #f44336;
$border-radius: 24px;
$border-radius-lg: 32px;
$border-radius-sm: 16px;
$link-color: $primary;

// Fonts
$font-family-base: 'Open Sans', Helvetica, sans-serif;
$font-family-sans-serif: $font-family-base;
$headings-font-family: 'Josefin Sans', Helvetica, sans-serif;

// Components

// Button
$btn-focus-width: 1px;
$component-active-color: #000;

// Form Control
$input-focus-width: 1px;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/dropdown';

// Datepicker override
.bs-datepicker-head {
  background-color: $primary !important;

  > bs-datepicker-navigation-view > button {
    color: #000 !important;
  }
}

.bs-datepicker-container {
  padding: 0;
}

bs-daterangepicker-container {
  bs-days-calendar-view:first-child .bs-datepicker-head {
    border-radius: 3px 0 0 0;
  }

  bs-days-calendar-view:last-child .bs-datepicker-head {
    border-radius: 0 3px 0 0;
  }
}
